body {
  
  left: 0px;
  top: 0px;
  position: absolute;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://fthmb.tqn.com/AWOLPDtII-jMlK8a1gl1Lk8C0Hg=/768x0/filters:no_upscale()/csumb-CSU-Monterey-Bay-flickr-56a186fa5f9b58b7d0c065be.jpg");
  background-repeat: no-repeat;
  background-size: 960px 540px;
  background-position: 8px 8px;
  
}

h1 {
  font-size: 30px;
  font-family: "Arial";
  text-align-last: right;
  width: 800px;
  position: absolute;
  left: 150px;
  color: white;
}

#schedule {
  
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 790px;
  text-align-last: left;
  position: absolute;
  left: 165px;
  padding-top: 75px;
  padding-left: 5px;
  color: white;
  border-color: white;
  border-style: solid;
  height: 365px;
}

#banner {

  width: 960px;
  height: 540px;
  color: white;

}

#date {
  width: 160px;
  height: 440px;
  font-size: 25px;
  color: white;  
  border-color: white;
  border-style: solid;
  text-align: center;
  font-size: 25px;
  
}

#second {
  border-color: white;
  border-style: solid;
  width: 960px;
  height: 100px;
  font-size: 25px;
  color: white;
  padding-left: 5px;
  padding-top: 5px;
}

#change {
  
  top: -10px;
  position: absolute;
  text-align: center;
  
  width: 160px;
  
  
}