body {
  
  left: 0px;
  top: 0px;
  position: absolute;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://fthmb.tqn.com/AWOLPDtII-jMlK8a1gl1Lk8C0Hg=/768x0/filters:no_upscale()/csumb-CSU-Monterey-Bay-flickr-56a186fa5f9b58b7d0c065be.jpg");
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-position: 8px 8px;
  
}

h1 {
  font-size: 60px;
  font-family: "Arial";
  text-align-last: right;
  width: 1600px;
  position: absolute;
  left: 150px;
  color: white;
}

#schedule {
  
  font: 36px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 1580px;
  text-align-last: left;
  position: absolute;
  left: 330px;
  padding-top: 150px;
  padding-left: 10px;
  color: white;
  border-color: white;
  border-style: solid;
  height: 730px;
}

#banner {

  width: 1920px;
  height: 1080px;
  color: white;

}

#date {
  width: 330px;
  height: 880px;
  font-size: 50px;
  color: white;  
  border-color: white;
  border-style: solid;
  text-align: center;
  
}

#second {
  border-color: white;
  border-style: solid;
  width: 1920px;
  height: 200px;
  font-size: 50px;
  color: white;
  padding-left: 10px;
  padding-top: 10px;
}

#change {
  
  top: -20px;
  position: absolute;
  text-align: center;
  
  width: 320px;
  
  
}